@keyframes slide-left {
  0% {
    transform: translate(30%);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes bouncing {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes spinning2 {
  from,
  to {
    transform: rotate(0);
  }
  25% {
    transform: scale(270deg);
  }
  50% {
    transform: scale(420deg);
  }
  75% {
    transform: scale(300deg);
  }
}
