@use '@/styles/helpers' as *;

$size: 60px;
$spacing: 10px;
$thickness: 5px;
$z-index: 100;

#nav-mob {
  width: $size;
  height: $size;
  left: calc((100% - $size) / 2);
  bottom: $spacing;
  display: flex;
  position: fixed;
  background: $blue-bg;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: $z-index;
  box-shadow: 0 0 5px $light-text;

  &:hover {
    box-shadow: 0 0 10px $light-text;
    opacity: 1;
  }

  #nav-mob-button {
    align-items: center;
    bottom: $spacing;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $size;
    justify-content: center;
    position: fixed;
    width: $size;
    z-index: 1;

    span {
      height: $thickness;
      width: $size * 0.5;
      background: $accent;
      transition: 0.35s ease-in-out;
      margin: calc(#{$thickness} * -0.5 + 5px);
    }
  }

  #nav-mob-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    opacity: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.5;
      color: $light-text;
      cursor: pointer;
      border-radius: 50% 0 0 50%;
      transition: all 0.2s ease-in-out;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      pointer-events: none;

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: rgba($color: $light-text, $alpha: 0.2);
      }

      &:active {
        outline: none;
        background-color: rgba($color: $light-text, $alpha: 0.5);
      }
    }

    & > * {
      opacity: 0;
      transition: opacity 0.3s ease-out 0.2s;
      &:nth-child(2) {
        transition: opacity 0.3s ease-out 0.3s;
      }
      &:nth-child(3) {
        transition: opacity 0.3s ease-out 0.4s;
      }
      &:nth-child(4) {
        transition: opacity 0.3s ease-out 0.5s;
      }
      &:nth-child(5) {
        transition: opacity 0.3s ease-out 0.6s;
      }
    }
  }

  &.open {
    width: 100%;
    height: 100%;
    border-radius: 0;
    bottom: 0;
    left: 0;

    #nav-mob-menu {
      opacity: 1;

      li {
        opacity: 1;
        pointer-events: all;
      }
    }

    #nav-mob-button {
      background: transparent;
      span:nth-child(1) {
        top: $spacing;
        transform: translateY($spacing) rotate(-135deg);
      }
      span:nth-child(2) {
        width: 0;
      }
      span:nth-child(3) {
        top: $spacing;
        transform: translateY($spacing * -1) rotate(135deg);
      }
    }
  }
}
