@forward 'contact';
@forward 'hero';
@forward 'history';
@forward 'navMob';
@forward 'navWeb';
@forward 'skills';

@use '@/styles/helpers' as *;

section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  background: $black-bg;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: $white-bg;
    border-radius: 50%;
    box-shadow: 0 0 50vw 25vh $white-bg;
    pointer-events: none;
    opacity: 5%;
  }
}
