/*** Color Variables ***/
$nav-bg: hsl(202, 85%, 61%);
$black-bg: hsl(0, 0%, 10%);
$pink-bg: hsl(341, 93%, 70%);
$aqua-bg: hsl(187, 96%, 73%);
$blue-bg: hsl(213, 75%, 55%);
$green-bg: hsl(108, 40%, 48%);
$orange-bg: hsl(34, 94%, 52%);
$accent: hsl(0, 0%, 100%);
$accent-2: hsl(236, 86%, 64%);
$light-text: hsl(0, 0%, 95%);
$dark-text: hsl(0, 0%, 10%);
