/*** Color Variables ***/
$header-bg: hsl(0, 0%, 10%);
$nav-bg: hsl(202, 85%, 61%);
$pink: hsl(341, 93%, 70%);
$aqua: hsl(187, 96%, 73%);
$accent: hsl(0, 0%, 100%);
$accent-2: hsl(236, 86%, 64%);
$light-text: hsl(0, 0%, 95%);
$dark-text: hsl(0, 0%, 10%);
