@font-face {
  font-family: 'Coolvetica';
  src: url('../assets/fonts/CoolveticaRg-Regular.woff') format('woff'),
    url('../assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'LaBelleAurore';
  src: url('../assets/fonts/LaBelleAurore.woff') format('woff'),
    url('../assets/fonts/LaBelleAurore.woff2') format('woff2');
}
@font-face {
  font-family: 'helvetica';
  src: url('../assets/fonts/helvetica-neu.ttf') format('ttf');
}

* {
  font-family: 'Coolvetica' ,'Courier New', Courier, monospace, sans-serif;
  letter-spacing: 0.05em;
}
