* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
