@use '@/styles/helpers' as *;

main {
  scroll-snap-type: y proximity;
}

section {
  display: flex;
  width: 100%;
  min-height: calc(100vh - #{$nav-height-scroll});
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  background: $black-bg;
  position: relative;

  &:first-of-type {
    height: calc(100% - #{$nav-height-top});
  }
}
